---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <script>
    // Redirect to scènes page
    window.location.href = '/scènes';
  </script>
  
  <div class="min-h-screen flex items-center justify-center">
    <p>Redirection en cours...</p>
  </div>
</Layout>
