---
import '../styles/global.css';
import Header from '../component/Header.astro';
import Footer from '../component/Footer.astro';
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>La Fête Comtoise - Festival Jazz, Fanfares & Musiques de rue</title>
		<meta name="description" content="Festival gratuit et écologique à Montbéliard - Jazz, Fanfares & Musiques de rue" />
	</head>
	<body class="bg-white">
		<!-- Header Component -->
		<Header />

		<!-- Main Content -->
		<main>
			<slot />
		</main>

		<!-- Footer Component -->
		<Footer />
	</body>
</html>

